.destination-banner{
    height: 50vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://cdn.wallpapersafari.com/74/36/biE6HQ.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.destination-container .card img{
    width: 100%;
    height: 35vh;
    object-fit: cover;
}
.destination-container .card .card-body{
    
}